/* styles for all pages of web app*/

/* elements */

header {
    width: 100%;
    height: 200px;
    background-color: rgba(187, 134, 255, .5);
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 30px;
}

/* class */



/* id */

head-1 {
    
}