/* styles for all pages of web app*/

/* elements */

header {
    width: 100%; 
    background-color: #D2BCFF;
    padding: 22px 30px;
}

footer {
    background-color: #E5E5E5;
    width: 100%;
    padding: 30px;
}

h3 {
    font-family: 'Inter';
    font-weight: 600;
}

input {font-family: 'Inter';}

/* simple classes */

.fit-100 {
    width: 100%;
}

.h-50 {
    height: 200px;
}

.pl-30 {
    padding-left: 30px;
}

.p-100 {
    padding-left: 100px;
}

.icon {
    width: 15px;
    margin: 5px;
}

/* complete classes */

.profile {
    width: 100%; 
    background-color: #D2BCFF;
    padding: 22px 30px;
}

/* buttons */
.btn-cian {
    height: 32px;
    min-width: 102px;
    background-color: #8CFCE8;
    margin-right: 20px;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: -6px 6px 6px 1px rgba(110, 95, 255, 0.5);

    color: rgb(62, 61, 58);
    font-family: 'Inter';
    font-size: 18px; /*looks difrent */
    font-weight: 600;
}

.btn-grey {
    height: 32px;
    min-width: 102px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;

    color: #3E3D3A;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
}

.btn-purp {
    height: 32px;
    min-width: 102px;
    background-color: #D2BCFF;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;

    color: #3E3D3A;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
}
  
/* id */

#p-pic {
    height: 100px;
    width: 100px;
    background-color: rgba(255, 176, 134, 0.5);
    border-radius: 50px;
}

.sty {

}