/* styles for all pages of web app*/

/* elements */

header {
    width: 100%; 
    background-color: #D2BCFF;
    padding: 22px 30px;
}

footer {
    background-color: #E5E5E5;
    width: 100%;
    padding: 30px;
}

h3 {
    font-family: 'Inter';
    font-weight: 600;
}

input {font-family: 'Inter';}

/* simple classes */

.underline-none {
    text-decoration: none;
}

.fit-100 {
    width: 100%;
}

.h-50 {
    height: 200px;
}

.h-36 {
    height: 36px;
}

.pl-30 {
    padding-left: 30px;
}

.p-100 {
    padding-left: 100px;
}

.icon {
    width: 15px;
    margin: 5px;
}

/* complete classes */

.profile {
    width: 100%; 
    background-color: #D2BCFF;
    padding: 22px 30px;
}

/* buttons */
.btn-cian {
    height: 32px;
    width: auto;
    min-width: 102px;
    background-color: #8CFCE8;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: -6px 6px 6px 1px rgba(110, 95, 255, 0.5);

    color: rgb(62, 61, 58);
    font-family: 'Inter';
    font-size: 18px; /*looks difrent */
    font-weight: 600;
}

.btn-grey {
    height: 32px;
    /* min-width: 102px; */
    width: 100%;
    background-color: #D9D9D9;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;

    color: #3E3D3A;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
}

.btn-purp {
    height: 32px;
    width: 100%;
    background-color: #D2BCFF;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;

    color: #3E3D3A;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
}

.btn-yellow {
    height: 32px;
    
    background-color: #fbffbc;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;

    color: #3E3D3A;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
}

.btn-green {
    height: 32px;
    
    background-color: #cdffbc;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;

    color: #3E3D3A;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
}

.btn-white {
    height: 32px;
    /* min-width: 102px; */
    /* width: 100%; */
    background-color: #ffffff;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;

    color: #3E3D3A;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
}

.profilepic {
    display: inline-block;
    
    height: 150px;
    background: url(/assets/images/Art\ image\ 1.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 75px;
    overflow: hidden;

}

.imgwrap {
    overflow: hidden;
    height: 150px;
}

.badgeicon {
    /* Badge */
    width: 24px;
    height: 24px;
    background-color: #BB86FF;
    border-radius: 12px;
    border-width: 0px;
    display: flexbox;
    align-items: center;
    overflow: hidden;
}

.badgeIconSmall {
    /* Small Badge */
    width: 16px;
    height: 16px;
    background-color: #BB86FF;
    border-radius: 8px;
    border-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 9px;
}

.badgeinfo {
    /* Tag Badge */
    background-color: #D9D9D9;
    border-radius: 12px;
    border-width: 0px;
    display: flexbox;
    align-items: center;
    width: fit-content;
    padding: 0 10px;
}

.badgeInfoSmall {
    /* Small Tag Badge */
    
    background-color: #D9D9D9;
    border-radius: 7px;
    border-width: 0px;
    display: flexbox;
    align-items: center;
    width: fit-content;
    padding: 0 5px;
    font-size: 12px;
}

.socialicon {
    background-color: white;
    border-width: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.purpled {
    background-color: #BB86FF;
}

.purpledText {
    color: #BB86FF;
}    

.greyed {
    background-color: #D9D9D9;
}

.reded {
    background-color: #ff8686;
}

.smalltext {
    font-size: x-small;
    margin: auto;
}
    
.modalComents{
    font-size: x-small;
    font-family: 'Inter';
    margin-bottom: 0;
}

/* id */

#p-pic {
    height: 100px;
    width: 100px;
    background-color: rgba(255, 176, 134, 0.5);
    border-radius: 50px;
}